@import "bootstrap";

.outer-form-box{
    width: 388px;
    height: 480px;
    background-color: white;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
    border-radius: 10px;
    position: relative;
    top: 60px;
    left: 120px;
    z-index: 0;
    
}

.inner-form-box{
    width: 388px;
    height: 400px;
}

.label-font{
    font-size: 0.8rem;

}

.join-image{
    width: 380px;
    height: 300px;
    position: absolute;
    left: 350px;
    top: 160px;
    z-index: -1;
}


.grey-font{
    color: #707070;
}

.form-width{
    width: 230px;
}

.nav-bg{
    background: linear-gradient(to right, #BC4444, #6B1A14);
}

.table-font{
    font-size: 0.8rem;
}

.nav-font{
    color: #ffffff;
}